@import 'tree-icons';

.tree-node { 
    font-size: x-large;
    width: 100%;
    
    ul {
        list-style: none;
    } 
    
    input[type=checkbox] {
        display: none;
        
        &:checked + label {
            @extend .tree-icon-check-circle-o;  
        }
    }
    
    label {
        @extend .tree-icon-circle-o;

        &:before {
            margin-right: 0.2em;
            vertical-align: sub;
            color: lightgray;
        }
    }
}
 
  
